* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    min-height: 100vh;
}

nav {
    background-color: #FD5E53;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.15);
    padding: 0px 15%;
    font-size: 18px;
    transition: 1s ease;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    height: 65px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #FF4B3F;
}

nav li:last-child{
    margin-left: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 125, 99, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 7px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.menu {
    display: none;
}

@media(max-width: 950px) {
    nav{
        padding: 0 5%;
    }
}

@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu{
        display: block;
    }
    nav {
        padding: 0 0;
    }
}

@media(max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}

.mainpage {
    align-items: flex-start;
    display: flex;
    margin-top: 3%;
    padding: 0 18%;
}

.col {
    padding: 0 0.75rem;
}

.column-text {
    height: 100%;
    width: 60%;
}

.column-info {
    width: 40%;
    height: 100%;
    border-left: solid 1px #cfd8dc;
    text-align: center;
    margin: 0 5%;
}

a {
    text-decoration: none;
    color: #039be5;
}

.section {

}

.standard-title {
    font-size: 1.64rem;
    line-height: 110%;
}

.standard-header {
    font-size: 1.1rem;
    margin-top: 2%;
    line-height: 1.25;
}

.standard-paragraph {
    text-align: justify;
    margin-top: 2%;
    line-height: 1.5;
}

.profile-description {
    line-height: 1.5;
}

.indent {
    text-indent: 6%;
}

.text-hr {
    height: 1px;
    border: solid 0px;
    background: #cfd8dc;
    margin: 15px 0;
    background-image: linear-gradient(to right, #cfd8dc, #8e9dba , #cfd8dc);
}

.icons {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    margin: 0 10px;
    font-size: 1.3rem;
}

.icons i {
    height: 100%;
    width: 100%;
}

.paragraph-lists {
    text-indent: -0.2%;
    margin-left: 5%;
    margin-top: -1%;
    list-style-type: circle;
}

.left {
    text-align: left;
}

.resumePage {
    margin-top: 3%;
    padding: 0 18%;
}

.resume-btn-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.resume-btn-bar button {
    margin: 0 1%;
    cursor: pointer;
    border: #FD5E53;
    border-style: solid;
    border-width: 3px;
    padding: 12px;
    background-color: transparent;
    color: #FD5E53;
    transition: all 0.5s ease;
    width: 35%;
}

.resume-btn-bar button:hover {
    color: white;
    border: #FF4B3F;
    border-style: solid;
    border-width: 3px;
    background-color: #FF4B3F;
    transition: all 0.3s ease;
}

.resume-img {
    display: flex;
    justify-content: center;
    align-items: center;
}